/* 移动端全局样式 */

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 
               'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', 
               Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #323233;
  background-color: #f5f5f5;
}

button, a, input {
  touch-action: manipulation;
}

input, textarea {
  -webkit-appearance: none;
  appearance: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

